.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #2B2424;
}

/* Nav.js */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  box-shadow: 5px 5px 5px #AAAAAA;
  margin-bottom: 50px;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-logo{
  max-height: 3vh;
  width: auto;
  display: block;
}

.nav-link{
  color: #2B2424;
  text-decoration: none;
  transition: 0.1s;
}

.nav-link:hover{
  color: #bf63e1;
}



/* Home.js */
.Home-Div{
  margin-top: 200px;
  display: inline-block;
}

.title-logo{
  min-height: 10vh;
  max-height: 20vh;
  width: auto;
}



/* Employee.js / Tas */
.add-btn{
  padding: 16px 33px 16px 33px;
  border-radius: 10px;
  border-style: none;
  background-color: #bf63e1;
  color: white;
  transition: 0.2s;
  font-size: 15px;
}
.add-btn:hover{
  background-color: #d387ef;
  cursor: pointer;
  /* box-shadow: 5px 5px 10px #a8a8a8; */
}

table{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
}

td{
  padding: 8px 10px 8px 10px;
  color: #2B2424;
  font-weight: 500;
}

thead{
  color: #7b7a7a;
}

th{
  font-weight: 300;
  padding: 8px 10px 8px 10px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}


.task-table td{
  padding: 15px 12px 15px 12px;
}

.task-table{
  width: 75%;
}

.view-employee-btn,
.delete-employee-btn
{
  padding: 3px 8px 3px 8px;
  font-weight: 500;
  margin: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.5px;
  transition: 0.1s;
  font-size: 16px;;
}

.view-employee-btn{
  border-color: #bf63e1;
  color: #bf63e1;
}

.delete-employee-btn{
  border-color: #FF5C5C;
  color: #FF5C5C;
}

.view-employee-btn:hover{
  cursor: pointer;
  border: none;
  color: #ededed;
  background-color: #bf63e1;
}

.delete-employee-btn:hover{
  cursor: pointer;
  border: none;
  color: #ededed;
  background-color: #FF5C5C;
}