.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #2B2424;
}

/* Nav.js */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  box-shadow: 5px 5px 5px #AAAAAA;
  margin-bottom: 50px;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-logo{
  min-height: 3vh;
  height: 3vh;
  width: auto;
  display: block;
}

.nav-link{
  color: #2B2424;
  text-decoration: none;
  transition: 0.1s;
}

.nav-link:hover{
  color: #bf63e1;
}



/* Home.js */
.Home-Div{
  margin-top: 200px;
  display: inline-block;
}

.title-logo{
  min-height: 10vh;
  max-height: 20vh;
  width: auto;
}



/* Employee.js / Tas */
.add-btn{
  padding: 16px 33px 16px 33px;
  border-radius: 10px;
  border-style: none;
  background-color: #bf63e1;
  color: white;
  transition: 0.2s;
  font-size: 15px;
  margin-top: 40px;
}

.add-btn:hover{
  background-color: #d387ef;
  cursor: pointer;
}

table{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
}

td{
  padding: 8px 10px 8px 10px;
  color: #2B2424;
  font-weight: 500;
}

thead{
  color: #7b7a7a;
}

th{
  font-weight: 300;
  padding: 8px 10px 8px 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.task-table td{
  padding: 15px 12px 15px 12px;
}

.task-table{
  width: 70%;
}

/* Action Buttons */
.view-btn,
.delete-btn,
.edit-btn
{
  padding: 3px 8px 3px 8px;
  font-weight: 500;
  margin: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.5px;
  transition: 0.1s;
  font-size: 16px;
  background : none;
}

.edit-btn{
  border-color: #3f9ab8;
  color: #3f9ab8;
}

.view-btn{
  border-color: #bf63e1;
  color: #bf63e1;
}

.delete-btn{
  border-color: #FF5C5C;
  color: #FF5C5C;
}

.edit-btn:hover{
  cursor: pointer;
  border: none;
  color: #ededed;
  background-color: #3f9ab8;
}

.view-btn:hover{
  cursor: pointer;
  border: none;
  color: #ededed;
  background-color: #bf63e1;
}

.delete-btn:hover{
  cursor: pointer;
  border: none;
  color: #ededed;
  background-color: #FF5C5C;
}




/* AddEmployee.js */
.card-body{
  /* border: solid;
  border-color: #cac7c7; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.form-group{
  margin: 20px 0px 30px 0px;
  font-size: 15px;
  color:#2B2424;
  font-size: 20px;
}

.form-label{ 
  font-weight: 800;
  margin-right: 16px;
}

.form-control{
  font-size: 18px;
  font-weight: 200;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 4px 2px 4px 2px;
}

.submit-form-btn{
  padding: 11px 25px 11px 25px;
  border-radius: 10px;
  border-style: none;
  font-size: 16px;
  background-color: #bf63e1;
  color: white;
  transition: 0.2s;
  margin-right: 20px;
}
.submit-form-btn:hover{
  cursor: pointer;
  background-color: #d387ef;
}

/* AddTask.js */
.option-control{
  height: 4vh;
  width: 7rem;
  font-size: 18px;
}

.checkbox-control{
  transform: scale(1.3);
}


/* ViewEmployee.js */
.single-employee-title{
  margin-bottom: 0px;
}
.single-employee-department{
  font-weight: 300;
  margin-top: 1vh;
  font-size: 18px;
}

.back-btn{
  margin-top: 40px;
  padding: 11px 25px 11px 25px;
  font-weight: 500;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.5px;
  transition: 0.1s;
  font-size: 16px;
  color: white;
  background-color: #FF5C5C;
  border: none;
}

.back-btn:hover{
  cursor: pointer;
  background-color: #f47070;
}